In [398]:
import pandas as pd
import numpy as np

모든 데이터 통합하기
-------------------------------------------------------------------------------
> 1. 환경기상/gs/유동인구/sns로 저장된 데이터를 하나의 파일로 통합
> 2. PCA를 통해 다중공선성이 높은 pm25와 pm10을 차원축소
> 3. 수치높은데이터(People, Count)는 log를 취함

데이터 불러오기
-------------------------------------------------------------------------------
> 환경기상/gs/유동인구/sns를 불러옵니다.

In [399]:
df_sns=pd.read_csv('./pre_sns_count.csv', encoding='utf-8')
df_pop=pd.read_csv('./pre_flow.csv', encoding='utf-8')
df_air=pd.read_csv('./pre_air_out.csv', encoding='utf-8')
df_gs=pd.read_csv('./pre_gs.csv', encoding='utf-8')

/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [400]:
df_gs = df_gs.rename(columns={"Years": "YEAR", "Days": "DAY", "Months" : "MONTH", "ADMD_CD":"serial"})
df_gs = df_gs.drop(['BOR_CD','OPER_DT', 'week', 'weekday', 'weekend','AMT_IND'], axis = 1)
df_gs.head()

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY
0,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.3,0.4,2018,4,1
1,11110530,23.7,25.8,35.0,4.6,9.3,0.500000,0.2,0.9,2018,4,1
2,11110540,25.4,24.7,32.4,6.5,9.0,0.685234,1.3,0.7,2018,4,1
3,11110550,41.6,21.8,28.3,2.7,3.7,0.600000,1.2,0.2,2018,4,1
4,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.7,0.2,2018,4,1

In [401]:
df_pop = df_pop.rename(columns={"STD_Y": "YEAR", "STD_D": "DAY", "STD_M" : "MONTH", "HDONG_NM": "serial"})
df_pop.head()

     serial  YEAR  MONTH  DAY    Man  Woman
0  11110515  2018      4    1  20859  15614
1  11110530  2018      4    1  71961  59010
2  11110540  2018      4    1  13988  11317
3  11110550  2018      4    1  40905  28830
4  11110560  2018      4    1  78602  59849

In [402]:
df_air = df_air.drop(['hours'], axis = 1)
df_air = df_air.rename(columns={"Year": "YEAR", "Days": "DAY", "Month" : "MONTH"})
df_air = df_air.groupby(['YEAR','MONTH','DAY','serial']).agg(np.mean)

df_air = pd.DataFrame(df_air)
df_air.head()

                              pm10       pm25
YEAR MONTH DAY serial
2018 4     1   11110515  66.041667  31.375000
               11110560  76.291667  36.041667
               11110615  60.500000  29.333333
               11110630  60.458333  28.541667
               11110640  60.416667  28.416667

In [403]:
print(df_air.shape)
df_air.head()

(8912, 2)

                              pm10       pm25
YEAR MONTH DAY serial
2018 4     1   11110515  66.041667  31.375000
               11110560  76.291667  36.041667
               11110615  60.500000  29.333333
               11110630  60.458333  28.541667
               11110640  60.416667  28.416667

데이터 통합오기
-------------------------------------------------------------------------------
> df_all로 환경기상/gs/유동인구/sns를 merge합니다.

In [404]:
df_all = pd.merge(left=df_gs, right=df_air, how='left',on =['YEAR','MONTH','DAY','serial'])

df_all = pd.merge(left=df_all, right=df_pop, how='left',on =['YEAR','MONTH','DAY','serial'])

df_all = pd.merge(left=df_all, right=df_sns, how='left',on =['YEAR','MONTH','DAY'])

In [405]:
print(df_all.shape)
df_all.head()

(11812, 17)

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,pm10,pm25,Man,Woman,Count
0,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.3,0.4,2018,4,1,66.041667,31.375000,20859,15614,5020
1,11110530,23.7,25.8,35.0,4.6,9.3,0.500000,0.2,0.9,2018,4,1,NaN,NaN,71961,59010,5020
2,11110540,25.4,24.7,32.4,6.5,9.0,0.685234,1.3,0.7,2018,4,1,NaN,NaN,13988,11317,5020
3,11110550,41.6,21.8,28.3,2.7,3.7,0.600000,1.2,0.2,2018,4,1,NaN,NaN,40905,28830,5020
4,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.7,0.2,2018,4,1,76.291667,36.041667,78602,59849,5020

In [406]:
df_all.isnull().sum()

serial          0
LCLS_10_P       0
LCLS_20_P       0
LCLS_30_P       0
LCLS_40_P       0
LCLS_50_P       0
LCLS_60_P       0
LCLS_70_P       0
LCLS_80_P       0
YEAR            0
MONTH           0
DAY             0
pm10         9329
pm25         9329
Man             0
Woman           0
Count           0
dtype: int64

In [407]:
df_all = df_all.dropna()

In [408]:
print(df_all.shape)
df_all.head()

(2483, 17)

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,pm10,pm25,Man,Woman,Count
0,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.3,0.4,2018,4,1,66.041667,31.375000,20859,15614,5020
4,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.7,0.2,2018,4,1,76.291667,36.041667,78602,59849,5020
8,11110615,27.5,21.0,38.7,2.4,7.6,0.600000,1.7,0.5,2018,4,1,60.500000,29.333333,198378,156244,5020
9,11110640,22.3,21.8,37.5,4.6,11.0,0.400000,2.0,0.5,2018,4,1,60.416667,28.416667,34126,33440,5020
10,11110650,31.7,20.7,34.2,2.6,8.1,0.400000,2.2,0.1,2018,4,1,60.291667,28.458333,47641,41422,5020

In [409]:
# #연월일로 되어있는 것을 Datetime으로 바꿈 (시간은 제외)
df_all['Datetime']=df_all['YEAR'].astype('str')+'-'+df_all['MONTH'].astype('str')+'-'+df_all['DAY'].astype('str')
df_all['Datetime']=pd.to_datetime(df_all['Datetime'], format='%Y-%m-%d')

In [410]:
print(df_all.shape)
df_all.head()

(2483, 18)

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,pm10,pm25,Man,Woman,Count,Datetime
0,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.3,0.4,2018,4,1,66.041667,31.375000,20859,15614,5020,2018-04-01
4,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.7,0.2,2018,4,1,76.291667,36.041667,78602,59849,5020,2018-04-01
8,11110615,27.5,21.0,38.7,2.4,7.6,0.600000,1.7,0.5,2018,4,1,60.500000,29.333333,198378,156244,5020,2018-04-01
9,11110640,22.3,21.8,37.5,4.6,11.0,0.400000,2.0,0.5,2018,4,1,60.416667,28.416667,34126,33440,5020,2018-04-01
10,11110650,31.7,20.7,34.2,2.6,8.1,0.400000,2.2,0.1,2018,4,1,60.291667,28.458333,47641,41422,5020,2018-04-01

다중공선성 방지위해 PCA(Feature Extraction)
-------------------------------------------------------------------------------
> 환경기상데이터의 pm25,pm10을 PCA를 이용하여 차원을 축소합니다.

In [411]:
pm25 = []
pm25 = df_all['pm25']

pm10 = []
pm10 = df_all['pm10']
print(type(pm10))

<class 'pandas.core.series.Series'>

In [412]:
pm_pca = pd.concat([pm25,pm10], axis = 1)

In [413]:
df_all.drop(['pm25','pm10'], axis=1, inplace=True)

In [414]:
pm_pca.head()

         pm25       pm10
0   31.375000  66.041667
4   36.041667  76.291667
8   29.333333  60.500000
9   28.416667  60.416667
10  28.458333  60.291667

In [415]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
pca_f = pca.fit_transform(pm_pca)
pca_df = pd.DataFrame(data = pca_f
             , columns = ['pm'])

In [416]:
pca_df.isnull().sum()

pm    0
dtype: int64

In [417]:
print(pca_df.shape)
pca_df.head()

(2483, 1)

          pm
0  12.702166
1  23.915082
2   6.879481
3   6.350967
4   6.263287

In [418]:
df_all.isnull().sum()

serial       0
LCLS_10_P    0
LCLS_20_P    0
LCLS_30_P    0
LCLS_40_P    0
LCLS_50_P    0
LCLS_60_P    0
LCLS_70_P    0
LCLS_80_P    0
YEAR         0
MONTH        0
DAY          0
Man          0
Woman        0
Count        0
Datetime     0
dtype: int64

In [419]:
df_all = df_all.reset_index(drop=True)
print(df_all.shape)
df_all.head()

(2483, 16)

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,Man,Woman,Count,Datetime
0,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.3,0.4,2018,4,1,20859,15614,5020,2018-04-01
1,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.7,0.2,2018,4,1,78602,59849,5020,2018-04-01
2,11110615,27.5,21.0,38.7,2.4,7.6,0.600000,1.7,0.5,2018,4,1,198378,156244,5020,2018-04-01
3,11110640,22.3,21.8,37.5,4.6,11.0,0.400000,2.0,0.5,2018,4,1,34126,33440,5020,2018-04-01
4,11110650,31.7,20.7,34.2,2.6,8.1,0.400000,2.2,0.1,2018,4,1,47641,41422,5020,2018-04-01

In [420]:
pca_df = pca_df.reset_index(drop=True)
print(pca_df.shape)
pca_df.head()

(2483, 1)

          pm
0  12.702166
1  23.915082
2   6.879481
3   6.350967
4   6.263287

In [421]:
df_all[['pm']] = pca_df[['pm']]

In [422]:
df_all.isnull().sum()

serial       0
LCLS_10_P    0
LCLS_20_P    0
LCLS_30_P    0
LCLS_40_P    0
LCLS_50_P    0
LCLS_60_P    0
LCLS_70_P    0
LCLS_80_P    0
YEAR         0
MONTH        0
DAY          0
Man          0
Woman        0
Count        0
Datetime     0
pm           0
dtype: int64

In [423]:
print(df_all.shape)
df_all

(2483, 17)

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,Man,Woman,Count,Datetime,pm
0,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.300000,0.400000,2018,4,1,20859,15614,5020,2018-04-01,12.702166
1,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.700000,0.200000,2018,4,1,78602,59849,5020,2018-04-01,23.915082
2,11110615,27.5,21.0,38.7,2.4,7.6,0.600000,1.700000,0.500000,2018,4,1,198378,156244,5020,2018-04-01,6.879481
3,11110640,22.3,21.8,37.5,4.6,11.0,0.400000,2.000000,0.500000,2018,4,1,34126,33440,5020,2018-04-01,6.350967
4,11110650,31.7,20.7,34.2,2.6,8.1,0.400000,2.200000,0.100000,2018,4,1,47641,41422,5020,2018-04-01,6.263287
5,11110670,33.6,20.9,36.1,1.1,3.6,2.100000,2.600000,0.100000,2018,4,1,27828,20125,5020,2018-04-01,-1.854008
6,11110515,27.0,24.6,40.5,3.7,3.1,0.100000,0.300000,0.700000,2018,4,2,30379,19649,6316,2018-04-02,8.109150
7,11110615,27.3,19.4,42.6,2.8,5.9,0.300000,1.500000,0.100000,2018,4,2,409733,272719,6316,2018-04-02,2.938190
8,11110630,24.6,16.7,48.0,2.6,6.1,0.300000,1.100000,0.500000,2018,4,2,111276,83449,6316,2018-04-02,2.281128
9,11110640,27.6,20.7,37.5,5.0,6.6,0.800000,1.700000,0.100000,2018,4,2,54452,50547,6316,2018-04-02,4.616606
10,11110650,32.7,19.3,35.0,4.2,4.8,1.600000,2.200000,0.100000,2018,4,2,66874,52851,6316,2018-04-02,3.655638
11,11110670,38.8,12.3,39.6,2.7,5.9,0.300000,0.300000,0.200000,2018,4,2,41939,29927,6316,2018-04-02,-1.246946
12,11110690,26.5,21.2,45.5,0.3,6.1,0.685234,1.027309,0.400000,2018,4,2,6843,5657,6316,2018-04-02,5.736924
13,11110515,31.8,24.7,36.1,1.2,5.0,0.500000,0.500000,0.200000,2018,4,3,30451,20348,6170,2018-04-03,12.267460
14,11110560,31.3,26.0,31.9,4.2,6.3,0.685234,0.300000,0.100000,2018,4,3,85990,57973,6170,2018-04-03,14.178113
15,11110615,27.6,18.1,40.1,2.3,9.5,0.300000,1.900000,0.200000,2018,4,3,423751,288110,6170,2018-04-03,-2.771025
16,11110630,28.1,21.0,44.0,0.8,4.0,0.600000,1.100000,0.300000,2018,4,3,114565,87309,6170,2018-04-03,1.428903
17,11110640,28.7,20.0,35.9,5.3,8.1,0.500000,1.500000,0.100000,2018,4,3,57452,54755,6170,2018-04-03,2.068736
18,11110650,35.4,17.7,34.2,5.2,5.5,0.600000,1.300000,0.000000,2018,4,3,69783,58141,6170,2018-04-03,1.526647
19,11110690,19.4,25.6,49.7,1.8,3.3,0.685234,0.100000,0.100000,2018,4,3,6843,5803,6170,2018-04-03,3.581858
20,11110515,34.0,22.2,35.5,3.2,3.9,0.200000,0.600000,0.500000,2018,4,4,30807,21318,6335,2018-04-04,-38.724689
21,11110615,29.1,19.2,39.1,2.7,8.1,0.400000,1.200000,0.200000,2018,4,4,422106,288764,6335,2018-04-04,-40.581434
22,11110630,32.0,16.5,40.7,1.6,7.0,0.700000,1.300000,0.200000,2018,4,4,112326,87586,6335,2018-04-04,-38.335862
23,11110640,29.5,18.5,35.7,4.8,7.9,1.100000,2.300000,0.300000,2018,4,4,58024,55421,6335,2018-04-04,-37.663062
24,11110650,35.4,17.3,33.1,4.0,6.9,1.100000,2.000000,0.200000,2018,4,4,68769,57856,6335,2018-04-04,-39.513680
25,11110670,38.6,14.3,34.0,1.2,10.9,0.200000,0.400000,0.300000,2018,4,4,43333,31457,6335,2018-04-04,-38.463185
26,11110690,23.4,25.3,40.7,0.6,8.1,0.685234,1.700000,0.100000,2018,4,4,7320,6333,6335,2018-04-04,-39.537003
27,11110515,38.1,24.3,28.7,2.2,5.2,0.600000,0.900000,0.100000,2018,4,5,29521,19588,4863,2018-04-05,-48.891732
28,11110560,38.0,23.3,24.7,1.9,7.8,1.600000,2.700000,0.384605,2018,4,5,81257,55231,4863,2018-04-05,-18.436681
29,11110615,30.8,18.5,35.1,2.2,11.5,0.400000,1.400000,0.200000,2018,4,5,412165,280474,4863,2018-04-05,-48.247211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,11110515,32.7,24.5,37.2,1.2,4.2,-0.300000,0.400000,0.300000,2019,3,28,32087,21873,6589,2019-03-28,13.596145
2454,11110560,43.8,19.1,24.6,4.5,6.6,0.685234,1.300000,0.200000,2019,3,28,85914,54417,6589,2019-03-28,10.594840
2455,11110615,30.7,18.0,40.8,2.2,6.8,0.100000,1.200000,0.100000,2019,3,28,383983,268173,6589,2019-03-28,31.602551
2456,11110630,26.7,16.6,44.7,2.8,7.4,0.500000,1.200000,0.100000,2019,3,28,108334,80891,6589,2019-03-28,19.553682
2457,11110650,36.8,19.1,33.8,3.6,5.0,0.700000,0.900000,0.100000,2019,3,28,53859,44334,6589,2019-03-28,29.588120
2458,11110670,36.7,16.7,39.9,0.9,5.3,0.000000,0.400000,0.384605,2019,3,28,42616,29858,6589,2019-03-28,19.410772
2459,11110690,23.3,29.9,43.3,0.4,1.6,1.400000,1.027309,0.384605,2019,3,28,8552,7339,6589,2019-03-28,22.920391
2460,11110710,34.1,16.3,37.5,5.3,5.2,0.600000,1.000000,0.100000,2019,3,28,61948,46321,6589,2019-03-28,18.992044
2461,11110515,32.1,25.5,35.9,1.2,3.5,0.400000,1.200000,0.300000,2019,3,29,32336,21247,6678,2019-03-29,7.206419
2462,11110560,33.8,20.2,33.6,4.6,6.6,0.685234,1.200000,0.100000,2019,3,29,90204,55099,6678,2019-03-29,-34.435869
2463,11110615,28.1,20.2,40.7,2.2,7.4,0.300000,1.000000,0.200000,2019,3,29,382925,268401,6678,2019-03-29,-17.393715
2464,11110630,25.7,17.2,41.2,7.2,6.1,1.000000,1.500000,0.000000,2019,3,29,108922,81032,6678,2019-03-29,-18.494512
2465,11110650,34.1,18.5,35.0,2.9,7.8,0.200000,1.400000,0.100000,2019,3,29,54644,44508,6678,2019-03-29,-4.645722
2466,11110670,39.0,22.8,30.8,1.0,5.9,0.685234,0.500000,0.000000,2019,3,29,42971,30050,6678,2019-03-29,-17.729642
2467,11110710,34.2,17.6,35.7,4.6,5.7,0.900000,1.300000,0.100000,2019,3,29,62791,45555,6678,2019-03-29,-25.480816
2468,11110515,36.2,25.6,29.5,1.6,5.7,0.900000,0.500000,0.384605,2019,3,30,29065,20624,5278,2019-03-30,5.171906
2469,11110560,37.2,25.0,25.6,2.3,6.5,1.200000,1.800000,0.300000,2019,3,30,97894,63773,5278,2019-03-30,-45.031942
2470,11110615,23.9,18.7,32.8,2.1,20.5,0.400000,1.300000,0.200000,2019,3,30,288940,234079,5278,2019-03-30,-15.307417
2471,11110630,26.6,18.7,35.0,3.7,14.7,0.300000,1.000000,0.100000,2019,3,30,83035,69965,5278,2019-03-30,-15.539654
2472,11110650,28.0,17.9,31.7,3.6,17.5,0.500000,0.600000,0.200000,2019,3,30,50741,43678,5278,2019-03-30,-1.207945
2473,11110710,30.0,17.1,32.5,4.6,13.8,0.600000,1.200000,0.400000,2019,3,30,55590,40807,5278,2019-03-30,-23.876829
2474,11110515,28.2,27.7,34.3,3.5,4.9,0.800000,0.600000,0.100000,2019,3,31,25907,19395,6850,2019-03-31,5.836312
2475,11110560,41.4,23.3,26.5,2.3,4.2,1.000000,1.100000,0.200000,2019,3,31,83795,61878,6850,2019-03-31,-19.144877
2476,11110615,32.3,20.4,34.1,2.6,7.5,0.600000,2.500000,0.100000,2019,3,31,211012,165757,6850,2019-03-31,-13.901496
2477,11110630,29.9,20.5,37.0,3.0,5.8,1.400000,1.900000,0.300000,2019,3,31,58004,44556,6850,2019-03-31,-16.532033
2478,11110640,25.9,21.7,36.4,3.1,9.2,0.600000,1.800000,1.200000,2019,3,31,38372,37840,6850,2019-03-31,-13.983839
2479,11110650,31.7,19.8,34.2,4.6,7.9,0.500000,1.200000,0.100000,2019,3,31,40248,34421,6850,2019-03-31,-3.739521
2480,11110670,35.9,16.1,37.1,1.6,6.8,1.100000,1.400000,0.384605,2019,3,31,31815,21985,6850,2019-03-31,-14.583414
2481,11110690,21.6,30.1,40.9,1.6,5.0,0.685234,0.200000,0.600000,2019,3,31,5366,4409,6850,2019-03-31,-13.554895
2482,11110710,31.8,17.8,36.8,4.5,6.9,0.400000,1.600000,0.200000,2019,3,31,45426,31782,6850,2019-03-31,-19.886574

In [424]:
df_all = df_all.set_index(["Datetime"])

In [425]:
df_all

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,Man,Woman,Count,pm
Datetime,,,,,,,,,,,,,,,,
2018-04-01,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.300000,0.400000,2018,4,1,20859,15614,5020,12.702166
2018-04-01,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.700000,0.200000,2018,4,1,78602,59849,5020,23.915082
2018-04-01,11110615,27.5,21.0,38.7,2.4,7.6,0.600000,1.700000,0.500000,2018,4,1,198378,156244,5020,6.879481
2018-04-01,11110640,22.3,21.8,37.5,4.6,11.0,0.400000,2.000000,0.500000,2018,4,1,34126,33440,5020,6.350967
2018-04-01,11110650,31.7,20.7,34.2,2.6,8.1,0.400000,2.200000,0.100000,2018,4,1,47641,41422,5020,6.263287
2018-04-01,11110670,33.6,20.9,36.1,1.1,3.6,2.100000,2.600000,0.100000,2018,4,1,27828,20125,5020,-1.854008
2018-04-02,11110515,27.0,24.6,40.5,3.7,3.1,0.100000,0.300000,0.700000,2018,4,2,30379,19649,6316,8.109150
2018-04-02,11110615,27.3,19.4,42.6,2.8,5.9,0.300000,1.500000,0.100000,2018,4,2,409733,272719,6316,2.938190
2018-04-02,11110630,24.6,16.7,48.0,2.6,6.1,0.300000,1.100000,0.500000,2018,4,2,111276,83449,6316,2.281128
2018-04-02,11110640,27.6,20.7,37.5,5.0,6.6,0.800000,1.700000,0.100000,2018,4,2,54452,50547,6316,4.616606
2018-04-02,11110650,32.7,19.3,35.0,4.2,4.8,1.600000,2.200000,0.100000,2018,4,2,66874,52851,6316,3.655638
2018-04-02,11110670,38.8,12.3,39.6,2.7,5.9,0.300000,0.300000,0.200000,2018,4,2,41939,29927,6316,-1.246946
2018-04-02,11110690,26.5,21.2,45.5,0.3,6.1,0.685234,1.027309,0.400000,2018,4,2,6843,5657,6316,5.736924
2018-04-03,11110515,31.8,24.7,36.1,1.2,5.0,0.500000,0.500000,0.200000,2018,4,3,30451,20348,6170,12.267460
2018-04-03,11110560,31.3,26.0,31.9,4.2,6.3,0.685234,0.300000,0.100000,2018,4,3,85990,57973,6170,14.178113
2018-04-03,11110615,27.6,18.1,40.1,2.3,9.5,0.300000,1.900000,0.200000,2018,4,3,423751,288110,6170,-2.771025
2018-04-03,11110630,28.1,21.0,44.0,0.8,4.0,0.600000,1.100000,0.300000,2018,4,3,114565,87309,6170,1.428903
2018-04-03,11110640,28.7,20.0,35.9,5.3,8.1,0.500000,1.500000,0.100000,2018,4,3,57452,54755,6170,2.068736
2018-04-03,11110650,35.4,17.7,34.2,5.2,5.5,0.600000,1.300000,0.000000,2018,4,3,69783,58141,6170,1.526647
2018-04-03,11110690,19.4,25.6,49.7,1.8,3.3,0.685234,0.100000,0.100000,2018,4,3,6843,5803,6170,3.581858
2018-04-04,11110515,34.0,22.2,35.5,3.2,3.9,0.200000,0.600000,0.500000,2018,4,4,30807,21318,6335,-38.724689
2018-04-04,11110615,29.1,19.2,39.1,2.7,8.1,0.400000,1.200000,0.200000,2018,4,4,422106,288764,6335,-40.581434
2018-04-04,11110630,32.0,16.5,40.7,1.6,7.0,0.700000,1.300000,0.200000,2018,4,4,112326,87586,6335,-38.335862
2018-04-04,11110640,29.5,18.5,35.7,4.8,7.9,1.100000,2.300000,0.300000,2018,4,4,58024,55421,6335,-37.663062
2018-04-04,11110650,35.4,17.3,33.1,4.0,6.9,1.100000,2.000000,0.200000,2018,4,4,68769,57856,6335,-39.513680
2018-04-04,11110670,38.6,14.3,34.0,1.2,10.9,0.200000,0.400000,0.300000,2018,4,4,43333,31457,6335,-38.463185
2018-04-04,11110690,23.4,25.3,40.7,0.6,8.1,0.685234,1.700000,0.100000,2018,4,4,7320,6333,6335,-39.537003
2018-04-05,11110515,38.1,24.3,28.7,2.2,5.2,0.600000,0.900000,0.100000,2018,4,5,29521,19588,4863,-48.891732
2018-04-05,11110560,38.0,23.3,24.7,1.9,7.8,1.600000,2.700000,0.384605,2018,4,5,81257,55231,4863,-18.436681
2018-04-05,11110615,30.8,18.5,35.1,2.2,11.5,0.400000,1.400000,0.200000,2018,4,5,412165,280474,4863,-48.247211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-28,11110515,32.7,24.5,37.2,1.2,4.2,-0.300000,0.400000,0.300000,2019,3,28,32087,21873,6589,13.596145
2019-03-28,11110560,43.8,19.1,24.6,4.5,6.6,0.685234,1.300000,0.200000,2019,3,28,85914,54417,6589,10.594840
2019-03-28,11110615,30.7,18.0,40.8,2.2,6.8,0.100000,1.200000,0.100000,2019,3,28,383983,268173,6589,31.602551
2019-03-28,11110630,26.7,16.6,44.7,2.8,7.4,0.500000,1.200000,0.100000,2019,3,28,108334,80891,6589,19.553682
2019-03-28,11110650,36.8,19.1,33.8,3.6,5.0,0.700000,0.900000,0.100000,2019,3,28,53859,44334,6589,29.588120
2019-03-28,11110670,36.7,16.7,39.9,0.9,5.3,0.000000,0.400000,0.384605,2019,3,28,42616,29858,6589,19.410772
2019-03-28,11110690,23.3,29.9,43.3,0.4,1.6,1.400000,1.027309,0.384605,2019,3,28,8552,7339,6589,22.920391
2019-03-28,11110710,34.1,16.3,37.5,5.3,5.2,0.600000,1.000000,0.100000,2019,3,28,61948,46321,6589,18.992044
2019-03-29,11110515,32.1,25.5,35.9,1.2,3.5,0.400000,1.200000,0.300000,2019,3,29,32336,21247,6678,7.206419
2019-03-29,11110560,33.8,20.2,33.6,4.6,6.6,0.685234,1.200000,0.100000,2019,3,29,90204,55099,6678,-34.435869
2019-03-29,11110615,28.1,20.2,40.7,2.2,7.4,0.300000,1.000000,0.200000,2019,3,29,382925,268401,6678,-17.393715
2019-03-29,11110630,25.7,17.2,41.2,7.2,6.1,1.000000,1.500000,0.000000,2019,3,29,108922,81032,6678,-18.494512
2019-03-29,11110650,34.1,18.5,35.0,2.9,7.8,0.200000,1.400000,0.100000,2019,3,29,54644,44508,6678,-4.645722
2019-03-29,11110670,39.0,22.8,30.8,1.0,5.9,0.685234,0.500000,0.000000,2019,3,29,42971,30050,6678,-17.729642
2019-03-29,11110710,34.2,17.6,35.7,4.6,5.7,0.900000,1.300000,0.100000,2019,3,29,62791,45555,6678,-25.480816
2019-03-30,11110515,36.2,25.6,29.5,1.6,5.7,0.900000,0.500000,0.384605,2019,3,30,29065,20624,5278,5.171906
2019-03-30,11110560,37.2,25.0,25.6,2.3,6.5,1.200000,1.800000,0.300000,2019,3,30,97894,63773,5278,-45.031942
2019-03-30,11110615,23.9,18.7,32.8,2.1,20.5,0.400000,1.300000,0.200000,2019,3,30,288940,234079,5278,-15.307417
2019-03-30,11110630,26.6,18.7,35.0,3.7,14.7,0.300000,1.000000,0.100000,2019,3,30,83035,69965,5278,-15.539654
2019-03-30,11110650,28.0,17.9,31.7,3.6,17.5,0.500000,0.600000,0.200000,2019,3,30,50741,43678,5278,-1.207945
2019-03-30,11110710,30.0,17.1,32.5,4.6,13.8,0.600000,1.200000,0.400000,2019,3,30,55590,40807,5278,-23.876829
2019-03-31,11110515,28.2,27.7,34.3,3.5,4.9,0.800000,0.600000,0.100000,2019,3,31,25907,19395,6850,5.836312
2019-03-31,11110560,41.4,23.3,26.5,2.3,4.2,1.000000,1.100000,0.200000,2019,3,31,83795,61878,6850,-19.144877
2019-03-31,11110615,32.3,20.4,34.1,2.6,7.5,0.600000,2.500000,0.100000,2019,3,31,211012,165757,6850,-13.901496
2019-03-31,11110630,29.9,20.5,37.0,3.0,5.8,1.400000,1.900000,0.300000,2019,3,31,58004,44556,6850,-16.532033
2019-03-31,11110640,25.9,21.7,36.4,3.1,9.2,0.600000,1.800000,1.200000,2019,3,31,38372,37840,6850,-13.983839
2019-03-31,11110650,31.7,19.8,34.2,4.6,7.9,0.500000,1.200000,0.100000,2019,3,31,40248,34421,6850,-3.739521
2019-03-31,11110670,35.9,16.1,37.1,1.6,6.8,1.100000,1.400000,0.384605,2019,3,31,31815,21985,6850,-14.583414
2019-03-31,11110690,21.6,30.1,40.9,1.6,5.0,0.685234,0.200000,0.600000,2019,3,31,5366,4409,6850,-13.554895
2019-03-31,11110710,31.8,17.8,36.8,4.5,6.9,0.400000,1.600000,0.200000,2019,3,31,45426,31782,6850,-19.886574

In [426]:
# 다중공선성 막기 위해 상관관계가 높은 변수 처리 (남,여 유동인구수)
df_all['Pop'] = df_all['Man'] + df_all['Woman']
df_all.drop(['Man', 'Woman'], axis=1, inplace=True)

In [427]:
df_all.head()

,serial,LCLS_10_P,LCLS_20_P,LCLS_30_P,LCLS_40_P,LCLS_50_P,LCLS_60_P,LCLS_70_P,LCLS_80_P,YEAR,MONTH,DAY,Count,pm,Pop
Datetime,,,,,,,,,,,,,,,
2018-04-01,11110515,27.9,30.0,33.5,1.6,5.4,0.000000,1.3,0.4,2018,4,1,5020,12.702166,36473
2018-04-01,11110560,31.1,26.7,26.2,1.5,13.5,0.685234,0.7,0.2,2018,4,1,5020,23.915082,138451
2018-04-01,11110615,27.5,21.0,38.7,2.4,7.6,0.600000,1.7,0.5,2018,4,1,5020,6.879481,354622
2018-04-01,11110640,22.3,21.8,37.5,4.6,11.0,0.400000,2.0,0.5,2018,4,1,5020,6.350967,67566
2018-04-01,11110650,31.7,20.7,34.2,2.6,8.1,0.400000,2.2,0.1,2018,4,1,5020,6.263287,89063

In [428]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2483 entries, 2018-04-01 to 2019-03-31
Data columns (total 15 columns):
serial       2483 non-null object
LCLS_10_P    2483 non-null float64
LCLS_20_P    2483 non-null float64
LCLS_30_P    2483 non-null float64
LCLS_40_P    2483 non-null float64
LCLS_50_P    2483 non-null float64
LCLS_60_P    2483 non-null float64
LCLS_70_P    2483 non-null float64
LCLS_80_P    2483 non-null float64
YEAR         2483 non-null int64
MONTH        2483 non-null int64
DAY          2483 non-null int64
Count        2483 non-null int64
pm           2483 non-null float64
Pop          2483 non-null int64
dtypes: float64(9), int64(5), object(1)
memory usage: 390.4+ KB

In [429]:
#큰수는 데이터에 로그값을 취합니다.
df_all['Pop'] =np.log(df_all['Pop'])

In [430]:
df_all.to_csv('df_all.csv')